<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Built_In_Filters</h1>
        <h2>{{data}}</h2>
        <h2>{{data|lower}}</h2>
        <h2>{{data|upper}}</h2>
        <h2>{{data|title}}</h2>
        <h2>{{data|capfirst}}</h2>
        
        <h2>{{data|truncatewords:'2'}}</h2>
        <h2>{{data|truncatechars:'5'}}</h2>
        <h2>{{data|slice:'5'}}</h2>

        <h1>{{dt}}</h1>
        <h1>{{dt|date:'Y'}}</h1>
        <h1>{{dt|date:'Y M'}}</h1>
        <h1>{{dt|date:'Y F'}}</h1>
        <h1>{{dt|date:' Y,M, l'}}</h1>
        <h1>I have {{c}} cat{{c|pluralize}}</h1>

        </center>
        </center>
</body>
</html>